# Not packages
node_modules/
yarn.lock
package-lock.json

# Not bot configuration
/config.json

# Not example data
/data/servers/*
!/data/servers/000000000000000000

# Not custom data
/classes/CustomClasses/
/classes/Commands/CustomCommands/

# Not miscellaneous
.jshintrc
.tmp/
.vscode/